<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hafu.repository.mybatis.HfTrackMybatisDao">
	<select id="getTrackTotalNumberGroupByCode" resultType="java.lang.Integer">
		select count(u.code) from (select code from hf_track group by `code`) u;
	</select>
</mapper>